body{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.main-header{
  font-size: 50px;
  font-weight: 10px;
  z-index: 200;
}
.picker{
  width:100%;
  height:100%;
  background-color:white;
  z-index: 0;
  float: none;
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  -webkit-transition: 0.25s;
  transition: 0.5s;

}

.project-title{
  margin-top: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 150px;
  vertical-align: center;
  line-height: 150px;
  width: auto;
  text-align: center;
  border-radius: 20px;
  z-index: 2;
  background-color: transparent;
}

.title-logo{
  height: 40px;
  padding-left: 5px;
  padding-top: 5px;
}

.sub-text{
  width:auto;
  height: auto;
  float: left;
  text-align: center;
  margin-top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 50px;
  position: absolute;
  color: #333;
}

.link{
  text-decoration: none;
}
.color_field{
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #000;
  width: 180%;
  height: 100px;
  color: #000;
  font-size: 4em;
  outline: none;
  text-align: center;
  font-family: Josefin Sans, sans-serif;
  margin-left: -40%;
}
.side-container{
   margin:auto;
   z-index: 2;
   float:center;
   width:50%;
   height:auto;
}

.footer{
  float: center;
  bottom: 10%;
  width: 100%;
  height: 30px;
  margin-top: 40px;

}

.header{
  z-index: 1;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding-top: 0px;
  top: 0;
  left: 0;
  position: fixed;
  float: left;
  background-color: #DA1E05;
}
